/* ------ GENERELT ------ */
body {
  --wp--style--block-gap: 0em;
}

.wp-container-7.wp-block-columns {
  gap: 0px;
}

/* ------ GENERELT SLUT------ */

/* ------ FORSIDE ------ */
h1.has-text-align-right.has-x-large-font-size {
  font-size: 90px !important;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 200;
  margin: 100px 0px 0px 0px;
}
h1.has-text-color.has-large-font-size {
  font-size: 300px !important;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
}
/* ------ FORSIDE SLUT ------ */

/* ------ PRODUKT SIDE -------- */
.produkttitel {
  text-align: center;
}

.produktcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 0px 100px;
}

#produkt-article {
  margin: 50px 30px;
  background-color: #ffffff;
}

#produkt-article h2,
.pris {
  padding: 10px 10px 0px 10px;
  font-weight: bold;
  font-size: 2rem;
}
.billede1 {
  border: solid #f4c7b0;
}
.produkt-info {
  border: solid #f4c7b0;
}
#filtrering {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

#filtrering button {
  border: none;
  font-weight: bold;
  border-radius: 15px;
  background-color: #f2dcf3;
  margin: 0px 5px 15px 5px;
  padding: 10px 30px;
}
#filtrering button:hover {
  background-color: #f4c7b0;
}
#filtrering button:focus {
  background-color: #f4c7b0;
}
/* ------ PRODUKT SIDE SLUT -------- */

/* ------ SINGLEVIEW SIDE -------- */
#singleview {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr;
  background-color: #f2dcf3;
}
#singleview h2 {
  grid-column: 5/8;
}

#singleview .pris {
  grid-column: 5/8;
}

#singleview2 {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto 1fr;
}
.produktbeskrivelse {
  font-weight: bold;
  font-size: 2rem;
}
.underoverskrift-1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: bold;
}
.beskrivelse-1 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-right: 20px;
}

.underoverskrift-2 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-weight: bold;
}
.beskrivelse-2 {
  grid-column: 1/2;
  grid-row: 5/6;
  padding-right: 20px;
}
.underoverskrift-3 {
  grid-column: 1/2;
  grid-row: 6/7;
  font-weight: bold;
}
.beskrivelse-3 {
  grid-column: 1/2;
  grid-row: 7/8;
  padding-right: 20px;
}
.underoverskrift-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: bold;
}
.beskrivelse-4 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.underoverskrift-5 {
  grid-column: 2/3;
  grid-row: 4/5;
  font-weight: bold;
}
.beskrivelse-5 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.underoverskrift-6 {
  grid-column: 2/3;
  grid-row: 6/7;
  font-weight: bold;
}
.beskrivelse-6 {
  grid-column: 2/3;
  grid-row: 7/8;
}
/* ------ SINGLEVIEW SIDE SLUT -------- */

@media (min-width: 993px) {
  .ast-separate-container #primary,
  .ast-separate-container.ast-left-sidebar #primary,
  .ast-separate-container.ast-right-sidebar #primary {
    margin: 0em 0;
  }
}
